body{
    margin:0;
}
*{
    box-sizing: border-box;
    /* border:1px solid red; */
}

.menu_container{
    height:80px;
    background-color: lightgrey;
}

.formulae_container{
    height:30px;
    background-color: pink;
}






.sheets{
    height:30px;
    background-color: lightgrey;
    display: flex;
    min-width:100vw;
   
}

.add_sheet_container{
    height:100%;
    min-width:30px;
    border:1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    font-size: 1.2rem;
    color:#2cc42c;
    
}

.sheet_list{
   display: flex;
   height:100%;
   overflow-x: auto;
   /* align-items: center; */

}

/* code to remove scrollbar but its functionality remains in app */
.sheet_list::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.sheet{
    min-width:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

.active_sheet{
    background-color: aliceblue;
}

/* grid container css */
.top_left_block{
    height:30px;
    width:25px;
    background-color: gray;
}

.top_row{
    height:30px;
    background-color: lightgreen;
    display: flex;
    position:absolute;
    top:0px;
    left:25px;

}

.left_col{
    width:25px;
    border:1px solid red;
}
.left_col_box{
    height:30px;
    background-color: lightgreen;
    text-align: center;
    border:1px solid;
}

.col{
    /* flex: 1;/doesnot worl on flex  */
    min-width:80px;
    border:1px solid;
    min-height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
}



.grid_container{
    position:relative;
    height:calc(100vh - ( 80px + 30px + 30px));
    overflow: auto;
    position: relative;
}
.grid{
    position: absolute;
    top:30px;
    left:25px;
}